.show__content {
  position: absolute;
  margin-left: 30px;
  color: #fff;
  border: 2px solid blue;
  height: 300px;
  z-index: 1;
}

.show__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.4rem;
  /* border: 2px solid red; */
  width: 45rem;
  max-width: 400px;
}

.show__details {
  padding-bottom: 0.4rem;
  /* margin-bottom: 300px; */
  /* border: 2px solid blue; */
}

.show__language {
  color: #111;
  background: #fff;
  padding: 5px 7px;
  border-radius: 8px;
}

.show__description {
  width: 45rem;
  max-width: 360px;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  text-shadow: 0.7px 0.2px silver;
}

.show__backgroundBigContainer {
  border: 2px solid #111;
  border: 2px solid yellow;
  /* height: 100%; */
  /* height: 56%; */
  /* width: 80%; */
  height: 70%;
  width: 70%;
  position: absolute;
  right: 0;
  /* right: -10; */
  overflow: hidden;
}

.show__backgroundLittleContainer {
  height: 100%;
  /* border: 2px solid white; */
  /* border: 2px solid rgba(17, 17, 17, 1); */
  box-shadow: 0 0 10px 20px #111 inset;
  /* box-shadow: 0 0 30px 30px rgba(17, 17, 17, 1) inset; */
  /* object-fit: contain; */
  object-fit: scale-down;
}

/* 30px  */

.show__imgvid {
  border: 2px solid green;
  position: absolute;
  width: 100%;
  /* width: 80%; */
  height: 25%;
  /* top: 0; */
  bottom: 0;
  left: 20;
}

@media (max-height: 1035px) {
  /* .show__imgvid {
    height: 10%;
  } */
}
