.show__page {
  box-sizing: border-box;
  min-height: 100vh;
  height: 110vh;
  position: relative;
  /* overflow-x: hidden; */
  /* border: 2px solid white; */
}

.show__bigContainer {
  position: absolute;
  top: 70px;
  min-height: 750px;
  height: 90%;
  /* height: 100%; */
  /* width: 100vw; */
  width: 100%;
  display: flex;
  border: 2px solid red;
  /* justify-content: center; */
  align-items: center;
  flex-grow: 1;
}
