* {
  margin: 0;
}

.App {
  background-color: #111;
}

.ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align-left {
  text-align: left;
}

.home {
  position: relative;
}
